/* Main obligation stuff */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
   

  }
  button,img,video{
    transition: all 0.3s cubic-bezier(0.45,0.05,0.55,0.95); 

  }
  .mimaneraText{
    transition: none

  }
  html {
    max-width: 100%;
    background-color: #ffffff;
 }
/* Define fonts and classes */

  @font-face {
    font-family: 'medium'; 
    src: url('/Plaimanas/Resource/AkzidenzGrotesk-Medium.otf') format('opentype'); 
  }
  .font-medium{
    font-family: 'medium', roboto;
  }
  @font-face {
    font-family: 'bold'; 
    src: url('/Plaimanas/Resource/AkzidenzGrotesk-Bold.otf') format('opentype'); 
  }
  .font-bold{
    font-family: 'bold', roboto;
  }
  @font-face {
    font-family: 'reg'; 
    src: url('/Plaimanas/Resource/AkzidenzGrotesk-Regular.otf') format('opentype'); 
  }
  .font-reg{
    font-family: 'reg', roboto;
  }
  /* Font details */
  .grey{
    color: #666666;
  }
  p, h1, h2, h3, h4, h5, h6, span, strong, em, a {
    margin-bottom: 0.5rem;
  }
  .font-size-reg{
    font-size: 14px;
  }
  .font-size-header{
    font-size: 18px;
  }
  .font-size-small{
    font-size: 12px;
  }
  .spreadLine{
    margin-bottom: 1rem;
  }
  .enlarge:hover{
    font-size: 24px;
    font-weight:bold;
    transition: all 0.3s cubic-bezier(0.45,0.05,0.55,0.95); 
  }
  





  p.input-container {
    width: 100%; 
    position: relative;
  
  
  }
  
  label {
    color: #CCC;
    position: absolute; 
    cursor: text;
    transform: translateY(-25px);
    transition: transform 0.3s ease;
    left: 0;
    bottom: -15px;
  }
  
  input {
    width: 100%;
    height: 40px;
    font-size: 16px;
    transition: 0.6s;
    border: none;
    border-bottom: 1px solid #CCC;
    background-color: transparent;
   
  }
  input:focus{
    outline: none;
    box-shadow:none !important;
    border-bottom: 1px solid black;
  }
  .btn-grey{
    background-color: #e3e3e3;
  }
  .btn-grey:hover,.btn-grey:active{
    background-color: #d8d8d8;
  }
 
  
                                    

 #footer{
    background-color: #f8f9f8;

    
 }

